footer
  .container
    .footer
      nav
        ul.footer__list
          li.footer__item
            a(href="mailto:еvgeny@quantumsys.ru" target="_blank" rel='noopener') Контакты
          li.footer__item
            a(href='policy.html' target="_blank" rel='noopener') Политика конфиденциальности
          li.footer__item
            a(href='agreement' target="_blank" rel='noopener') Пользовательское соглашение
      div.copyright Copyright ©2020 – Quantum System Management