form
  .row
    .col-xs-12.col-sm-5.col-md-4.offset-sm-1.offset-md-2
      .input-group
        .input-group-prepend
          span.input-group-text.name
        input(type='text' name='firstname' class='form-control' id='name' placeholder="Введите ваше имя" required="true")
    .col-xs-12.col-sm-5.col-md-4
      .input-group
        .input-group-prepend
          span.input-group-text.mail
        input(type='email' name='email' class='form-control' id='email' placeholder="Действующий e-mail" required="true")
    .col-xs-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
      button(class='button subscribe green') 
        | ДА! Я ХОЧУ ПОЛУЧИТЬ VIP ДОСТУП К QUANTUM SYSTEM ПРЯМО СЕЙЧАС