.container
  .row
    block header
      .col-xs-12.col-sm-4.offset-md-1.text-center
        img(src='./images/logo.png' alt='Quantum System' class='logo text-center')
      .col-xs-12.col-md-8.col-lg-6
        h3.header__title.blue.no-upper.text-left
          | Посмотрите это видео и узнайте, как зарабатывать более $630,820 каждый месяц!