img(src='./images/trusted-1.png' class="trusted" alt="Quantum System Verified")
img(src='./images/trusted-2.png' class="trusted" alt="Quantum System Verified")
img(src='./images/trusted-3.png' class="trusted" alt="Quantum System Verified")
img(src='./images/trusted-4.png' class="trusted" alt="Quantum System Verified")
img(src='./images/trusted-5.png' class="trusted" alt="Quantum System Verified")