mixin video(src)
  div(class!=attributes.class)
    .video__wrapper
      .video__embed
        .video__volume
          i(class='fas fa-5x fa-volume-up')
          p Включить звук
        video(width='620' height='370'  autoplay muted)
          source(src=src type='video/mp4')