.white {
  background: #fff;
  color: #333;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 40px;

  h1 {
    font-size: 2em;
  }
  h2 {
    text-align: left;
  }
  p {
    text-align: justify;
    line-height: 20px;
  }
}
