extends pug/layout

block header
  .col-xs-12.col-sm-4.offset-md-1.text-center
    img(src='./images/logo.png' alt='Quantum System' class='logo text-center')
  .col-xs-12.col-md-8.col-lg-6
    h3.header__title.blue.no-upper.text-left
      | Посмотрите это видео и узнайте, как зарабатывать более $630,820 каждый месяц!

block content
  section.main-section
    .container
      .row
        include pug/components/video
        +video('videos/video1.mp4')(class='col-xs-12')
      form.main-form(method='POST' action='registration.php')
        .row
          .col-xs-12.col-sm-5.col-md-4.offset-sm-1.offset-md-2
            include pug/components/input
            +input('test','firstname','Введите ваше имя','name')(required)
          .col-xs-12.col-sm-5.col-md-4
            +input('email','email','Действующий e-mail','mail')(required)
          .col-xs-12.col-sm-10.offset-sm-1.col-md-8.offset-md-2
            include pug/components/button
            +button('ДА! Я ХОЧУ ПОЛУЧИТЬ VIP ДОСТУП К QUANTUM SYSTEM ПРЯМО СЕЙЧАС')
      .spacer
        .row
          .col-xs-12.col-sm-10.col-md-8.offset-sm-1.offset-md-2.text-center
            include pug/components/verify
block counter
  include pug/components/counter
