<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
    title Получите свою прибыль уже сегодня
  body.thanks
    .container
      .row
        .col-md-12
          p
            | В течении 24 часов на указанный email придет письмо с подробной инструкцией.
            br
            | Если письмо не появилось в папке «Входящие», проверьте папку «Спам».
            br
            | Если вы не получили письмо, пожалуйста, обратитесь в тех. поддержку. После получения письма:
            br
            | 1. Добавьте адрес отправителя в контакты
            br
            | 2. Если письмо попало в папку «Спам», выделите его и нажмите «Не спам», чтобы в дальнейшем гарантированно получать всю важную информацию по проекту «Quantum Systems».
            br
            | Не забудьте нажать кнопку "Ок"
        .col-md-12
          .button_btn
            a(href='https://simabui.github.io/quantum/dist/main.html' rel='noopener') На главную
